{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objects list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Owner</th>
                <th>Usufruct</th>
                <th>Localisation</th>
                <th>Containerstore</th>
                <th>Containerin</th>
                <th>Creator</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for object in objects %}
            <tr>
                <td><a href="{{ path('objects_show', { 'id': object.id }) }}">{{ object.id }}</a></td>
                <td>{{ object.name }}</td>
                <td>{{ object.owner.firstName }}</td>
                <td>{{ object.usufruct.firstName }}</td>
                <td>{{ object.localisation }}</td>
                <td>{{ object.containerStore.Name }}</td>
                <td>{{ object.containerIn.Name }}</td>
                <td>{{ object.creator }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('objects_show', { 'id': object.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('objects_edit', { 'id': object.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objects_new') }}">Create a new object</a>
        </li>
    </ul>
{% endblock %}
