{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="username">
       <!--  <label for="username">{{ 'security.login.username'|trans }}</label> -->
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="Username" />
    </div>
    <div class="password">
      <!--   <label for="password">{{ 'security.login.password'|trans }}</label> -->
        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" />
    </div>

<!--         <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

        <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" /> -->
    </div>
</form>

<script>
    //démarrage de l'app
    app = new PIXI.Application(window.innerWidth, window.innerHeight, { backgroundColor : 0x000000, 
                                                                                  antialias : true
                                                                      });

    document.body.appendChild(app.view);

    app.stage.interactive = true;


    //add background image
    pict = new PIXI.Sprite.fromImage('bundles/app/app/pict/background/bk1.jpeg');
    pict.scale.set(1.5,1.5);
    app.stage.addChild(pict);

/*    FilmFilter = new PIXI.filters.OldFilmFilter({sepia:0.3},Math.random());*/
    //iterator = 3;
    iterator = 0;
    app.ticker.add(function(delta){
    
    //console.log(new Date().getTime());
        //FilmFilter = new PIXI.filters.OldFilmFilter({sepia:0.8},Math.random());
        //FilmFilter.noise = Math.random();
       // if(iterator == 3){
        iterator += delta / 1000;
        console.log(iterator);
            FilmFilter = new PIXI.filters.GodrayFilter({ parallel: 0, gain: 0.6, lacunarity: 2, angle: 30, center: [0, -50], time: iterator * 8});
            pict.filters = [FilmFilter];
         //   iterator = 0; 
       // }
        //iterator = iterator + 1;
    });


    var lifer = new PIXI.Text("Lifer",{fontFamily : 'Berkshire Swash', fontSize: 300,fill : 0xFFFFFF, align : 'center'});
        lifer.x = (window.innerWidth / 2) - lifer.width / 2;
        lifer.y = window.innerHeight * 0.15;

     app.stage.addChild(lifer);    

    $(document).ready(function(){

        var usernameTop = (window.innerHeight / 2);
        var usernameLeft = (window.innerWidth / 2);
        var usernameWidth = $('#username').width() / 2;
        console.log(usernameWidth);
        $('#username').css({  top: usernameTop});
        $('#username').focus();
    });


</script>