{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="username">
       <!--  <label for="username">{{ 'security.login.username'|trans }}</label> -->
        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="User" />
    </div>
    <div class="password">
      <!--   <label for="password">{{ 'security.login.password'|trans }}</label> -->
        <input type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="Pass" />
    </div>

<!--         <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
 -->
        <input type="submit" id="_submit" name="_submit" value="GO ---->>>" />
    </div>
</form>

<script>

    $(document).ready(function(){


    

        var usernameTop = (window.innerHeight / 2);
        var passwordTop = (window.innerHeight / 2) + 150;
        var submitTop = (window.innerHeight / 2) + 300;
        var usernameLeft = (window.innerWidth / 2);
        var passwordWidth = (window.innerWidth / 2);
       // console.log(usernameWidth);
        $('#username').css({  top: usernameTop});
        $('#password').css({  top: passwordTop});
        $('#password').css({  left: passwordWidth});
        $('#_submit').css({   top: submitTop});
        //$('#username').focus();
    });


</script>