<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8" />
      
      <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash" rel="stylesheet">
        
      <!-- <meta name="viewport" content="initial-scale=0.5,minimum-scale=0.5,maximum-scale=1.0,width=device-width,user-scalable=no" /> -->
      <title>Lifer</title>
      
      <style>
            * {
              margin: 0;
              padding: 0;
            }

      body {
          background-image: url("bundles/app/pict/background/bk1.jpeg");
      }

            #username, #password, #_submit{
                position:absolute;
                
                border: 2px solid rgba(255, 255, 255, 0.5);
                  font-size: 2.75em;
                  padding: .25em .5em .3125em;
                  color: rgba(255, 255, 255, 0.5);
                  border-radius: .25em;
                  background: transparent;
                  -webkit-transition: all .100s;
                  transition: all .100s;
                    box-sizing: border-box;
                  /*bottom: 4em;*/
                  left: 50%;
                  width: 11em;
                  margin-left: -5.5em;    
            }

            #username:focus {
              outline: none;
              color: rgba(255, 255, 255, 0.75);
              border-color: rgba(255, 255, 255, 0.75);
            }

            #username.keyup {
              color: white;
              border-color: white;
              text-shadow: 0 0 .125em white;
              box-shadow: 0 0 .25em white,inset 0 0 .25em white;
            }


            input {
              font-family: 'Varela Round', sans-serif;;
            }

            ::-webkit-input-placeholder {
              color: rgba(255, 255, 255, 0.5);
              text-shadow: 0 0 .125em transparent;
              -webkit-transition: all .25s;
              transition: all .25s;
            }

            input:focus::-webkit-input-placeholder {
              opacity: .5;
            }

            ::-moz-placeholder {
              color: rgba(255, 255, 255, 0.5);
              text-shadow: 0 0 .125em transparent;
              -webkit-transition: all .25s;
              transition: all .25s;
            }

            input:focus::-moz-placeholder {
              opacity: .5;
            }

            :-ms-input-placeholder {
              color: rgba(255, 255, 255, 0.5);
              text-shadow: 0 0 .125em transparent;
              -webkit-transition: all .25s;
              transition: all .25s;
            }

            input:focus:-ms-input-placeholder {
              opacity: .5;
            }






            #password{
            /*    visibility: hidden;*/
                position:absolute;
            }
        </style>
    </head>
    <body>
        <div>
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>            
            {% else %}
               <!--  <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a> -->
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">   
    </script>



</html>
