{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objects_infos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Value_text</th>
                <th>Value_datetime</th>
                <th>Value_integer</th>
                <th>Value_decimal</th>
                <th>Update</th>
                <th>Order</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objects_info in objects_infos %}
            <tr>
                <td><a href="{{ path('objects_infos_show', { 'id': objects_info.id }) }}">{{ objects_info.id }}</a></td>
                <td>{{ objects_info.name }}</td>
                <td>{{ objects_info.valuetext }}</td>
                <td>{% if objects_info.valuedatetime %}{{ objects_info.valuedatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ objects_info.valueinteger }}</td>
                <td>{{ objects_info.valuedecimal }}</td>
                <td>{{ objects_info.update }}</td>
                <td>{{ objects_info.order }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('objects_infos_show', { 'id': objects_info.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('objects_infos_edit', { 'id': objects_info.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objects_infos_new') }}">Create a new objects_info</a>
        </li>
    </ul>
{% endblock %}
