{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objects_info</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objects_info.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ objects_info.name }}</td>
            </tr>
            <tr>
                <th>Value_text</th>
                <td>{{ objects_info.valuetext }}</td>
            </tr>
            <tr>
                <th>Value_datetime</th>
                <td>{% if objects_info.valuedatetime %}{{ objects_info.valuedatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Value_integer</th>
                <td>{{ objects_info.valueinteger }}</td>
            </tr>
            <tr>
                <th>Value_decimal</th>
                <td>{{ objects_info.valuedecimal }}</td>
            </tr>
            <tr>
                <th>Update</th>
                <td>{{ objects_info.update }}</td>
            </tr>
            <tr>
                <th>Order</th>
                <td>{{ objects_info.order }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objects_infos_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('objects_infos_edit', { 'id': objects_info.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
