{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objects_trees list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Update</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objects_tree in objects_trees %}
            <tr>
                <td><a href="{{ path('objects_tree_show', { 'id': objects_tree.id }) }}">{{ objects_tree.id }}</a></td>
                <td>{{ objects_tree.name }}</td>
                <td>{{ objects_tree.update }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('objects_tree_show', { 'id': objects_tree.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('objects_tree_edit', { 'id': objects_tree.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objects_tree_new') }}">Create a new objects_tree</a>
        </li>
    </ul>
{% endblock %}
