{% extends 'base.html.twig' %}

{% block body %}
    <h1>Objects_tree</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objects_tree.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ objects_tree.name }}</td>
            </tr>
            <tr>
                <th>Update</th>
                <td>{{ objects_tree.update|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('objects_tree_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('objects_tree_edit', { 'id': objects_tree.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
